@media (max-width: 1345px)
    .test
        padding: 0px 80px 10px 80px
        &_block
            &_photo
                img
                    width: 320px
                    height: 320px

@media (max-width: 1024px)
    header
        min-height: 540px
        padding: 37px 39px 0 39px
        .top
            &_apply
                font-size: 16px
                line-height: 32px
        .center
            h1
                font-size: 60px
                line-height: 60px
            &_btn
                margin-top: 32px
                font-size: 16px
                width: 133px
                height: 55px
            &_img
                &_left
                    position: absolute
                    top: 71px
                    left: -227px
                &_right
                    overflow: hidden
                    position: absolute
                    top: 250px
                    right: 0px
                    img
                        position: relative
                        right: -94px
                &_phone
                    img
                        width: 514px
                        height: 287px
    .pros
        width: auto
        min-height: 920px
        bottom: 30px
        padding: 173px 98px 108px 98px
        display: block
        &_item
            flex-direction: row
            justify-content: space-between
            width: 100%
            align-items: center
            margin-top: 52px
            &_number
                margin-right: 32px
                width: 48px
                height: 46px
                font-size: 20px
                line-height: 36px
                position: relative
                top: 12px
            &_desc
                width: 500px
                &_header
                    font-size: 28px
                    line-height: 36px
                    text-align: left
                &_text
                    margin-top: 16px
                    font-size: 16px
                    line-height: 28px
                    text-align: left
    .test
        width: auto
        min-height: 930px
        padding: 100px 40px 120px 39px
        &_block
            min-height: 526px
            display: block
            position: relative
            &_photo
                img
                    width: 281px
                    height: 281px
            &_first
                // width: 514px
                width: 74.5%
                // height: 80%
                height: 375px
                position: absolute
                bottom: 0px
                left: 175px
                padding: 48px 56px 56px 56px 
                &_header
                    font-size: 48px
                    line-height: 56px
                &_text
                    margin-top: 24px
                    font-size: 16px
                    line-height: 32px
                    text-align: left
                &_btn
                    width: 172px
                    height: 55px
                    font-size: 16px
                    margin-top: 31px
        &_footer
            margin-top: 80px

@media (max-width: 730px)
    .xs-hidden
        display: none
    header
        min-height: 482px
        padding: 37px 16px 0 16px 
        .top
            &_apply
                line-height: 32px
        .center
            margin-top: 65px
            h1
                font-size: 50px
                line-height: 50px
            &_btn
                margin-top: 34px
            &_img
                &_phone
                    margin-top: 65px
                    img
                        width: 299px
                        height: 179px
    .pros
        width: auto
        min-height: 1071px
        bottom: 10px
        padding: 145px 17px 75px 17px
        &_item
            margin-top: 44px
            flex-direction: column
            align-items: center
            justify-content: center
            &_number
                position: static
                margin: 0 auto
            &_desc
                margin-top: 24px
                width: 100%
                text-align: center
                &_header
                    text-align: center
                &_text
                    text-align: center
                    margin-top: 16px

    .test
        width: auto
        min-height: 943px
        padding: 110px 16px 63px 16px
        &_block
            position: relative
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            &_first
                width: 100%
                position: relative
                left: 0px
                bottom: 53px
                padding: 32px
                &_header
                    font-size: 32px
                    line-height: 32px
                    text-align: center
                &_text
                    font-size: 16px
                    text-align: center
                    line-height: 28px
                &_btn
                    display: block
                    margin: 0 auto
                    margin-top: 31px
                    font-size: 16px
        &_footer
            margin-top: 74px

